{% extends "template.html" %}

{% block buttons %}
{% if sessionstatus %}
<li class="nav-item">
  <a href="{{ url_for('profile') }}" class="nav-link">My Profile</a>
</li>
<li class="nav-item">
  <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
</li>
{% else %}
<li class="nav-item">
  <a href="{{ url_for('login') }}" class="nav-link">Login</a>
</li>

<li class="nav-item">
  <a href="{{ url_for('register') }}" class="nav-link">Register</a>
</li>
{% endif %}
{% endblock %}

{% block body %}
<a href="{{ url_for('root') }}" class="nav-link" style="color: black; padding: 0px;">
<div class="jumbotron text-center" style="background-color: #aed6f1; border-radius: 0; margin-top:-16px;">
  <h1>Budget Tracker</h1>

</div>
</a>



{% endblock %}
