<!DOCTYPE html>
{% extends "template.html" %}

{% block css %}
<style>
.submitLink {
  background-color: transparent;
  text-decoration: underline;
  border: none;
  color: blue;
  cursor: pointer;
}
</style>
{% endblock %}

{% block buttons %}
<li class="nav-item">
  <a href="{{ url_for('root') }}" class="nav-link">Home</a>
</li>

<li class="nav-item">
  <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
</li>
{% endblock %}


{% block body %}
<div style="margin: 15px;">

<h1><p>{{ title }}</p></h1>

<div class="container-fluid" >

  <div class="row">
    <div class="col-sm">
      <input type="date" id="date" name="date">
    </div>
  </div>
</div>

</div> <br><br><br>
{% endblock %}
