<!DOCTYPE html>
{% extends "template.html" %}

{% block css %}
<style>
.submitLink {
  background-color: transparent;
  text-decoration: underline;
  border: none;
  color: blue;
  cursor: pointer;
}
</style>
{% endblock %}

{% block buttons %}
<li class="nav-item">
  <a href="{{ url_for('root') }}" class="nav-link">Home</a>
</li>

<li class="nav-item">
  <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
</li>
{% endblock %}


{% block body %}
<div style="margin: 15px;">

<h1><p>{{ title }}</p></h1>

<div class="container-fluid" >

  <div class="row">
    <div class="col-sm">
      <input type="month" id="month" name="month">
      <button type="button" id = "monthButton">Select month</button>
    </div>
  </div>
</div>
Enter a date:
<form action="/processEntry" method="post">
<input type="date" id="date" name="date">
Enter your expense:
<input type="text" id="expense" name="expense">
Enter the category:
<select name="category">
  <option value="income">Income</option>
  <option value="food">Food</option>
  <option value="rent">Rent</option>
  <option value="clothing">Clothing</option>
  <option value="other">Other</option>
</select>
<button type="submit" id = "entryButton">Create new entry for chosen month</button>
</form>
</div> <br><br><br>
<script src="static/profile.js"></script>
{% endblock %}
