{% extends "template.html" %}

{% block css %}
<style>
    body {
        text-align: center;
    }
    .btn:focus {
        outline: none;
        box-shadow: none;
    }
    .jumbotron {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .container-fluid {
        /* position:absolute;
        left:50%;
        top:50%;
        transform: translate(-50%,-600%); */
        background-color: C44429;
        /* opacity: .9;
        width:50%;
        padding: 20px;
        border-radius: 25px; */
        background: rgba(204, 204, 204, 0.7);
        /* background-color: #576066; */
        width:50%;
        padding: 20px;
        border-radius: 25px;
    }
</style>
{% endblock %}

{% block buttons %}
    {% if sessionstatus %}
        <li class="nav-item">
            <a href="{{ url_for('profile') }}" class="nav-link">My Profile</a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('logout') }}" class="nav-link">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
            <a href="{{ url_for('login') }}" class="nav-link">Login</a>
        </li>

        <li class="nav-item">
            <a href="{{ url_for('register') }}" class="nav-link">Register</a>
        </li>
    {% endif %}
{% endblock %}

{% block body %}
    <div class="jumbotron text-center" style="background-color: #aed6f1; border-radius: 0; margin-top:-16px;">
        {% if sessionstatus %}
            <h1> Welcome back, {{user}} </h1>
        {% else %}
            <h1> Budget Tracker </h1>
        {% endif %}
    </div>

    {% if sessionstatus %}
    <br>
    <div class = "container-fluid">
    <div class = "btn-group" role = "group">
        <button type = "button" id = "b1" class = "btn btn-outline-primary">
            This Month </button>
        <button type = "button" id = "b2" class = "btn btn-outline-primary">
            Past 6 Months </button>
        <button type = "button" id = "b3" class = "btn btn-outline-primary"> All-Time </button>
    </div>
    <br>
    <div id = "nothing"></div>
    <div class = "container">
        <div class = "row">
            <div id = "line" class = "col"></div>
            <div id = "pie" class = "col"></div>
        </div>
    </div>

    <input id="data" name="data" type="hidden" value="{{data}}">

    <script src="http://d3js.org/d3.v5.js" charset="utf-8"></script>
    <script src="static/homepage.js"></script>
    </div>
    {% endif %}
{% endblock %}
